@charset "utf-8";
body,form {margin:0px;color:#333333;font-family:"dotum";font-size:12px;}
html,body {height:100%;}
img{border:0;}
table{border-collapse: collapse;}
tr,td{padding:0px; margin:0px;text-decoration:none;font-size:9pt;}
a:link{color:#333333;text-decoration:none}
a:visited{color:#333333;text-decoration:none}
a:active{color:#333333;text-decoration:none}
a:hover{color:#333333;text-decoration:none}

.wall{position:absolute;background-color:#FFFFFF;left:0px;top:0px;width:100%;opacity:0.4;}

textarea{border:1px solid #9a9a9a;font-size:9pt;COLOR:#6b6b6b;line-height:140%;padding-top:1px;padding-left:3px;border-left-color:#666666;border-top-color: #666666}
.INPUT {border:1px #999999 solid;padding:3px 3px 1px 3px;color:#4D4D4D;}

.ZIP_POP{overflow-y:auto;width:400px;height:310px;position:absolute;background-color:#ffffff;border:1px solid #d9d9d9;padding:0px 0px 10px 0px;}

.btn{font-size:9pt;border:0;padding:3px 3px 0px 3px;}
.line_box{border:1px solid #d3d3d3;padding:3px;}


.admin_left{width:200px;}
.admin_left ul{list-style-type:none;margin:0px;padding:0px;width:100%;}
.admin_left ul li{
	line-height:300%;
	padding-left:20px;
	background:url(../../img/left_icon_arrrow.gif) no-repeat 8px 12px;
	border-bottom-style:dotted;
	border-width:1px;
	border-color:#000000;
}

.admin_left ul.submenu{list-style-type:none;margin:0px;padding:0px;width:100%;display:none;}
.admin_left ul.submenu li{
	line-height:250%;
	padding-left:20px;
	background:url(../../img/left_icon_arrrow.gif) no-repeat 8px 11px;
	border-top-style:dotted;
	border-bottom-style:none;
	border-width:1px;
	border-color:#000000;
}

.admin_left_over{background-color:#f4f4f4;}

.center_left_area{width:220px}

.center_cont_area{width:770px;padding-top:14px;}
.center_cont_title_bg{height:37px;background:url(../../img/center_bg_title.gif) repeat-x;}

.center_code_area{
	width:100%;
	background-color:#f0f0f0;
	min-height:440px; 
	height:auto !important; 
	height:440px;
	float:left;
	padding:10px 0px 10px 0px;
}
.center_code_area .title{clear:both;margin:20px 0px 8px 8px;}
.center_code_area .box_scroll{float:left;width:290px;height:380px;margin:0px 8px 0px 8px;overflow-x:hidden;overflow-y:scroll;border:1px solid #9a9a9a}
.center_code_area .box_scroll ul{clear:both;list-style:none;margin:1px;padding:0px;width:100%;background-color:#dadada}
.center_code_area .box_scroll li{float:left;text-align:center;line-height:27px;height:27px;background-color:#ffffff;margin:0px;padding:0px;border-bottom:1px solid #dadada;border-right:1px solid #dadada;}
.center_code_area .btn_area{float:left;}

.admin_popup{width:600px;border:1px solid #0172c9;position:absolute;top:0px;left:0px;background-color:#ffffff;}
.admin_popup .top_area{height:77px;background:url(../../img/pop/title_bg.gif) repeat-x;}
.admin_popup .title{float:left;padding-top:30px;font-size:20px;font-weight:bold;color:#ffffff;padding-left:10px;}
.admin_popup .close{float:right;margin-top:10px;margin-right:10px;margin-bottom:5px;}
.admin_popup .cont{clear:both;margin-top:10px;}
.admin_popup .btn_area{clear:both;margin-top:10px;margin-bottom:10px;text-align:center;height:38px;line-height:38px}

/* ÆË¾÷ */
.pop_box{border:5px solid #959595;position:absolute;top:0;background-color:#FFFFFF;}
.pop_box .close{text-align:right;margin-top:10px;margin-right:10px;margin-bottom:5px;}


/* ´ñ±Û ±âº» */
.board_comment_area{padding:10px;width:730px;}
.board_comment_area .board_comment_item{width:100%;padding:10px;}
.board_comment_area .board_comment_item .title_area{clear:both;width:100%;background-color:#d1d2d4;line-height:100%;}
.board_comment_area .board_comment_item .title_area .name{float:left;width:80%;padding:5px;}
.board_comment_area .board_comment_item .title_area .date{float:left;width:20%;padding:5px;}
.board_comment_area .board_comment_item .cont_area{clear:both;width:100%;padding:10px;}
.board_comment_area .board_comment_item .btn_area{clear:both;width:100%;text-align:right;}

.board_comment_area .board_comment_item .btn_reply_area{width:100%;padding:10px;}